<div class="dial" [style.background]="backgroundClock">
  <div class="dot"></div>
  <div class="sec-hand" *ngIf="displaySec" [style.transform]="transformSec" ></div>
  <div class="sec-hand shadow" *ngIf="displaySec" [style.transform]="transformSec"></div>
  <div class="min-hand" [style.transform]="transformMin"></div>
  <div class="min-hand shadow" [style.transform]="transformMin" ></div>
  <div class="hour-hand" [style.transform]="transformHour"></div>
  <div class="hour-hand shadow" [style.transform]="transformHour"></div>
  <span class="twelve">12</span>
  <span class="three">3</span>
  <span class="six">6</span>
  <span class="nine">9</span>
  <span class="diallines"></span>
  <div class="numeric-time">{{hours}}:{{minutes}}</div>
  <div class="waiting-time" *ngIf="waitingTime">+{{waitingTime}}</div>
</div>