.main-salat{
    float: left;
}
.ArName{
font-size: 31pt;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
.FrName{
    font-size: 31pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#salat-names{
    margin-top: 10px;
}